<body>
<div class="portfolio-container">
    <div class="grid-item" *ngIf="portfolio">
      	<div class="section">
          <div class="header">
            <p>Your Stock Portfolio</p>
          </div>
          <div class="stock-input">
              <form [formGroup]="lookupForm" (ngSubmit)="searchStocks()">
                <search-form [parent]="lookupForm"></search-form>
                <button class="primary" type="submit" [disabled]="lookupForm.invalid" alt="submit button">Get Quotes</button>
              </form>
            </div>
	      </div>
      <div *ngIf="error">
        Error :(
      </div>

      <div *ngIf="portfolio" class="section content">
        		<div  *ngFor="let company of portfolio" class="tile-stock">
                <div class="logo-img" alt="company logo">
                  <img src="{{company.url.url}}">
                </div>
                <div class="divider-h">
                </div>
                <div>
                  <p class="label">{{company.companyName}}</p>
                </div>
                <div>
                  <p class="bold">{{company.symbol}}</p>
                </div>
                <div>
                  <p>{{company.description}}</p>
                </div>

                <div class="price"><p class="bold">{{company.price.price}}</p>
                </div>
                <div class="divider-h">
                </div>
          </div>

      </div>

    </div>

    <div  *ngIf="stock" class="btm-grid">
        <mat-card class="tile-sock">
          <mat-card-header>
            <mat-card-title>{{stock.companyName}}</mat-card-title>
            <mat-card-subtitle>{{stock.symbol}}</mat-card-subtitle>
          </mat-card-header>
            <img src="{{stock.url.url}}">
          <mat-card-content>
            {{stock.description}}
            <br>
            {{stock.price.price}}
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addToPortfolio(stock)">Add Stock</button>
          </mat-card-actions>
        </mat-card>
    </div>

    <div>
        Data provided for free by <a href="https://iextrading.com/developer/">IEX</a>. View IEX’s <a
        href="https://iextrading.com/api-exhibit-a/">Terms of Use</a>.
    </div>
    
  </div>
</body>
